# Change text capitalization

## **Excel:**

    =LOWER(text)
    =UPPER(text)
    =PROPER(text)
<br>

## **Python:**

One value:    

    text.lower()
    text.upper()
    text.title()

Series:

    df['column'].str.lower()
    df['column'].str.upper()
    df['column'].str.title()
<br>

### Load required packages and data

In [1]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'

# Read excel and CSV files
bank_list = pd.read_excel(failed_bank_path, sheet_name='banks')
bx_books = pd.read_csv(bx_books_path)

<br><br>

# Changing text capitalization examples
---

<br>

### .lower()
---

In [3]:
# Convert the following string to all lower case
"I AM A STRING".lower()

'i am a string'

<br>

In [5]:
# Convert the list of bank names in bank_list to lowercase (use .lower())
bank_list['Bank Name'].lower()

AttributeError: ignored

<br>

In [6]:
# Convert the list of bank names in bank_list to lowercase (use .str.lower())
bank_list['Bank Name'].str.lower()

0                   the first state bank
1                     ericson state bank
2       city national bank of new jersey
3                          resolute bank
4                  louisa community bank
                     ...
556                   superior bank, fsb
557                  malta national bank
558      first alliance bank & trust co.
559    national state bank of metropolis
560                     bank of honolulu
Name: Bank Name, Length: 561, dtype: object

<br>

In [7]:
# Override the bank names with the lowercase versions
bank_list['Bank Name'] = bank_list['Bank Name'].str.lower()

<br>

In [8]:
# View the results
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

### .upper()
---

In [9]:
# Convert the following string to all uppercase
'i am a string'.upper()

'I AM A STRING'

<br>

In [10]:
# Convert the bank names in bank_list to uppercase
bank_list['Bank Name'].str.upper()

0                   THE FIRST STATE BANK
1                     ERICSON STATE BANK
2       CITY NATIONAL BANK OF NEW JERSEY
3                          RESOLUTE BANK
4                  LOUISA COMMUNITY BANK
                     ...
556                   SUPERIOR BANK, FSB
557                  MALTA NATIONAL BANK
558      FIRST ALLIANCE BANK & TRUST CO.
559    NATIONAL STATE BANK OF METROPOLIS
560                     BANK OF HONOLULU
Name: Bank Name, Length: 561, dtype: object

<br>

In [11]:
# Save the changes
bank_list['Bank Name'] = bank_list['Bank Name'].str.upper()

<br>

In [12]:
# View the results
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

### .title()
---

In [13]:
# Convert the following string to all titlecase
'i am a string'.title()

'I Am A String'

<br>

In [14]:
# Convert the bank names back to their original titlecase format
bank_list['Bank Name'].str.title()

0                   The First State Bank
1                     Ericson State Bank
2       City National Bank Of New Jersey
3                          Resolute Bank
4                  Louisa Community Bank
                     ...
556                   Superior Bank, Fsb
557                  Malta National Bank
558      First Alliance Bank & Trust Co.
559    National State Bank Of Metropolis
560                     Bank Of Honolulu
Name: Bank Name, Length: 561, dtype: object

<br>

In [15]:
# Save the changes
bank_list['Bank Name'] = bank_list['Bank Name'].str.title()

<br>

In [16]:
# View the results
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

<br><br>
**QUICK CHALLENGE #1:**

**Task: Write 2 cells of code below using the `bx_books` dataframe**


1.   Make all titles in the `book_title` column lowercase, save the column, view the results
2.   Make all titles in the `book_title` column titlecase, save the column, view the results

In [17]:
# Your code for quick challenge #1, task 1 here:
bx_books['book_title'] = bx_books['book_title'].str.lower()

# View the results
bx_books.head()

        isbn  ...                   publisher
0  195153448  ...     Oxford University Press
1    2005018  ...       HarperFlamingo Canada
2   60973129  ...             HarperPerennial
3  374157065  ...        Farrar Straus Giroux
4  393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]

<br>

In [18]:
# Your code for quick challenge #1, task 2 here:
bx_books['book_title'] = bx_books['book_title'].str.title()

# View the results
bx_books.head()

        isbn  ...                   publisher
0  195153448  ...     Oxford University Press
1    2005018  ...       HarperFlamingo Canada
2   60973129  ...             HarperPerennial
3  374157065  ...        Farrar Straus Giroux
4  393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]