# VLOOKUP in Python (Part 2)
---

## **In part 1:**



*   merge() is the VLOOKUP of Python


    df1.merge(df2, on='lookup_value', how='left')

<br>

---

<br>

### Load required packages and data
---

In [1]:
# Import required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Save Github location paths to a variable
failed_bank_path = 'https://github.com/The-Calculated-Life/python_analysis_for_excel/blob/main/data/failed_banks.xlsx?raw=true'
bx_books_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_books.csv'
bx_ratings_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_ratings.csv'
bx_users_path = 'https://raw.githubusercontent.com/The-Calculated-Life/python_analysis_for_excel/main/data/bx_users.csv'

# Read excel and CSV files
bank_detail = pd.read_excel(failed_bank_path, sheet_name='detail')
bank_list = pd.read_excel(failed_bank_path, sheet_name='banks')
bank_dividends = pd.read_excel(failed_bank_path, sheet_name='dividends')
bx_books = pd.read_csv(bx_books_path)
bx_ratings = pd.read_csv(bx_ratings_path)
bx_users = pd.read_csv(bx_users_path)

bx_users.columns = ['user', 'location', 'age']

# Apply transformations to bank_dividends
bank_dividends[['Bank Number', 'Name', 'Date Closed']] = bank_dividends['Bank Number:Name:Date Closed'].str.split(':', expand=True)
bank_dividends = bank_dividends[bank_dividends['Dividend Type'] == 'Final']
bank_dividends['Bank Number'] = bank_dividends['Bank Number'].astype('float')

<br>

### Examples: VLOOKUP (Part 2)
---

In [3]:
# View "bank_list"
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

In [4]:
# View "bank_detail"
bank_detail.head()

    CERT      FIN     CHARTER  ESTIMATED LOSS  ASSETS  DEPOSITS RESOLUTION
0  14361  10536.0  COMMERCIAL             NaN  152400    139526    FAILURE
1  18265  10535.0  COMMERCIAL             NaN  100879     95159    FAILURE
2  21111  10534.0  COMMERCIAL          2491.0  120574    111234    FAILURE
3  58112  10532.0  COMMERCIAL          4547.0   29726     26473    FAILURE
4  58317  10533.0       OTHER          2188.0   27119     26151    FAILURE

<br>

In [5]:
# Merge "bank_list" and "bank_detail"
bank_list.merge(bank_detail, how='left', on='CERT')

      CERT                          Bank Name  ... DEPOSITS RESOLUTION
0    14361               The First State Bank  ...   139526    FAILURE
1    18265                 Ericson State Bank  ...    95159    FAILURE
2    21111   City National Bank of New Jersey  ...   111234    FAILURE
3    58317                      Resolute Bank  ...    26151    FAILURE
4    58112              Louisa Community Bank  ...    26473    FAILURE
..     ...                                ...  ...      ...        ...
556  32646                 Superior Bank, FSB  ...  1609501    FAILURE
557   6629                Malta National Bank  ...     8728    FAILURE
558  34264    First Alliance Bank & Trust Co.  ...    16931    FAILURE
559   3815  National State Bank of Metropolis  ...    71277    FAILURE
560  21029                   Bank of Honolulu  ...    59037    FAILURE

[561 rows x 12 columns]

<br>

In [6]:
# Merge bank_list and bank_detail but only keep ASSETS from bank_detail
bank_list.merge(bank_detail[['CERT', 'ASSETS']], how='left', on='CERT')

      CERT                          Bank Name  ... Closing Date   ASSETS
0    14361               The First State Bank  ...   2020-04-03   152400
1    18265                 Ericson State Bank  ...   2020-02-14   100879
2    21111   City National Bank of New Jersey  ...   2019-11-01   120574
3    58317                      Resolute Bank  ...   2019-10-25    27119
4    58112              Louisa Community Bank  ...   2019-10-25    29726
..     ...                                ...  ...          ...      ...
556  32646                 Superior Bank, FSB  ...   2001-07-27  1765455
557   6629                Malta National Bank  ...   2001-05-03     9075
558  34264    First Alliance Bank & Trust Co.  ...   2001-02-02    17438
559   3815  National State Bank of Metropolis  ...   2000-12-14    90397
560  21029                   Bank of Honolulu  ...   2000-10-13    63890

[561 rows x 7 columns]

<br>

In [7]:
# Save the original merged "bank_list" and "bank_detail" as "bank_merged"
bank_merged = bank_list.merge(bank_detail, how='left', on='CERT')

<br>

In [8]:
# View "bank_merged"
bank_merged.head()

    CERT                         Bank Name  ... DEPOSITS RESOLUTION
0  14361              The First State Bank  ...   139526    FAILURE
1  18265                Ericson State Bank  ...    95159    FAILURE
2  21111  City National Bank of New Jersey  ...   111234    FAILURE
3  58317                     Resolute Bank  ...    26151    FAILURE
4  58112             Louisa Community Bank  ...    26473    FAILURE

[5 rows x 12 columns]

<br><br>
**QUICK CHALLENGE #1:**

**Task: Use merge() to match books in `bx_books` to their ratings in `bx_ratings`**

* Use a default (inner) join
* Save the result as `bx_merged`

In [9]:
bx_books.head()

        isbn  ...                   publisher
0  195153448  ...     Oxford University Press
1    2005018  ...       HarperFlamingo Canada
2   60973129  ...             HarperPerennial
3  374157065  ...        Farrar Straus Giroux
4  393045218  ...  W. W. Norton &amp; Company

[5 rows x 5 columns]

In [10]:
bx_ratings.head()

   user_id        isbn  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [12]:
# Your code for quick challenge #1 here:
bx_merged = bx_books.merge(bx_ratings, on='isbn')

In [13]:
# View the result: "bx_merged"
bx_merged.head()

         isbn  ... rating
0  074322678X  ...      5
1  080652121X  ...      0
2  1552041778  ...      5
3  1558746218  ...      0
4  1558746218  ...      0

[5 rows x 7 columns]

<br><br>

### VLOOKUP with different "on" conditions
---

In [14]:
# Look at "bank_merged" dataframe
bank_merged.head()

    CERT                         Bank Name  ... DEPOSITS RESOLUTION
0  14361              The First State Bank  ...   139526    FAILURE
1  18265                Ericson State Bank  ...    95159    FAILURE
2  21111  City National Bank of New Jersey  ...   111234    FAILURE
3  58317                     Resolute Bank  ...    26151    FAILURE
4  58112             Louisa Community Bank  ...    26473    FAILURE

[5 rows x 12 columns]

<br>

In [15]:
# Look at "bank_dividends" dataframe
bank_dividends.head()

                   Bank Number:Name:Date Closed  ... Date Closed
0      10000:METROPOLITAN SAVINGS BANK:2/2/2007  ...    2/2/2007
13           10002:MIAMI VALLEY BANK :10/4/2007  ...   10/4/2007
16      10003:DOUGLASS NATIONAL BANK :1/25/2008  ...   1/25/2008
32  10006:FIRST INTEGRITY BANK, N.A. :5/30/2008  ...   5/30/2008
52     10009:FIRST HERITAGE BANK, NA :7/25/2008  ...   7/25/2008

[5 rows x 9 columns]

<br>

In [16]:
# Merge (VLOOKUP) bank_dividends Total Paid column to the bank_merged dataframe from above
bank_merged.merge(bank_dividends, how='left', left_on='FIN', right_on='Bank Number')

      CERT  ... Date Closed
0    14361  ...         NaN
1    18265  ...         NaN
2    21111  ...         NaN
3    58317  ...         NaN
4    58112  ...         NaN
..     ...  ...         ...
559  32646  ...   7/27/2001
560   6629  ...         NaN
561  34264  ...         NaN
562   3815  ...  12/14/2000
563  21029  ...  10/13/2000

[564 rows x 21 columns]

<br><br>
**QUICK CHALLENGE #2:**

**Task: Use merge() now add the `bx_users` data to `bx_merged` from above**

* Use a left merge (join)
* Keep the `user` and `location` columns from `bx_users`

In [20]:
# Your code for quick challenge #2 here:
bx_merged.merge(bx_users[['user', 'location']], how='left', left_on='user_id', right_on='user')

              isbn  ...                            location
0       074322678X  ...            timmins, ontario, canada
1       080652121X  ...            timmins, ontario, canada
2       1552041778  ...            timmins, ontario, canada
3       1558746218  ...            timmins, ontario, canada
4       1558746218  ...           knoxville, tennessee, usa
...            ...  ...                                 ...
196837  3596156904  ...  wilhering, oberösterreich, austria
196838  1582380805  ...       pittsburgh, pennsylvania, usa
196839  1845170423  ...       pittsburgh, pennsylvania, usa
196840  014002803X  ...          badalona, catalonia, spain
196841  006008667X  ...    hopewell junction, new york, usa

[196842 rows x 9 columns]

In [17]:
bx_merged.columns

Index(['isbn', 'book_title', 'book_author', 'year_of_publication', 'publisher',
       'user_id', 'rating'],
      dtype='object')

In [18]:
bx_users.columns

Index(['user', 'location', 'age'], dtype='object')

<br><br>

### VLOOKUP (Merge) on index
---

In [21]:
# Look at bank_list
bank_list.head()

    CERT  ... Closing Date
0  14361  ...   2020-04-03
1  18265  ...   2020-02-14
2  21111  ...   2019-11-01
3  58317  ...   2019-10-25
4  58112  ...   2019-10-25

[5 rows x 6 columns]

<br>

In [23]:
# Set CERT as index in "bank_list"
bank_list.set_index('CERT', inplace=True)

# View "bank_list"
bank_list.head()

                              Bank Name  ... Closing Date
CERT                                     ...
14361              The First State Bank  ...   2020-04-03
18265                Ericson State Bank  ...   2020-02-14
21111  City National Bank of New Jersey  ...   2019-11-01
58317                     Resolute Bank  ...   2019-10-25
58112             Louisa Community Bank  ...   2019-10-25

[5 rows x 5 columns]

<br>

In [24]:
# View "bank_detail"
bank_detail.head()

    CERT      FIN     CHARTER  ESTIMATED LOSS  ASSETS  DEPOSITS RESOLUTION
0  14361  10536.0  COMMERCIAL             NaN  152400    139526    FAILURE
1  18265  10535.0  COMMERCIAL             NaN  100879     95159    FAILURE
2  21111  10534.0  COMMERCIAL          2491.0  120574    111234    FAILURE
3  58112  10532.0  COMMERCIAL          4547.0   29726     26473    FAILURE
4  58317  10533.0       OTHER          2188.0   27119     26151    FAILURE

<br>

In [25]:
# Use left_index as condition as lookup_value
bank_list.merge(bank_detail, how='left', left_index=True, right_on='CERT')

                             Bank Name           City  ... DEPOSITS RESOLUTION
0                 The First State Bank  Barboursville  ...   139526    FAILURE
1                   Ericson State Bank        Ericson  ...    95159    FAILURE
2     City National Bank of New Jersey         Newark  ...   111234    FAILURE
4                        Resolute Bank         Maumee  ...    26151    FAILURE
3                Louisa Community Bank         Louisa  ...    26473    FAILURE
..                                 ...            ...  ...      ...        ...
569                 Superior Bank, FSB       Hinsdale  ...  1609501    FAILURE
570                Malta National Bank          Malta  ...     8728    FAILURE
571    First Alliance Bank & Trust Co.     Manchester  ...    16931    FAILURE
572  National State Bank of Metropolis     Metropolis  ...    71277    FAILURE
573                   Bank of Honolulu       Honolulu  ...    59037    FAILURE

[561 rows x 12 columns]